**/node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
# Exclude all hidden files and directories
.*
# Allow files and directories necessary for the build
!Dockerfile
!src/
!lib/
*.md
